# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/spice/spice
cmd/spice/.spice
cmd/spice/data
cmd/spiced/spiced
cmd/spiced/.spice
cmd/spiced/data
spicepods

*.parquet
spicepod.yaml
!test/tpc-bench/tpch-spicepod/spicepod.yaml

target/

# Debug binaries
__debug_bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.DS_Store

dist

venv
venv-acknowledgements
venv_acknowledgements

# AI
__pycache__
venv
.venv

/test/tpc-bench/tmp/
/test/tpc-bench/tpch-kit
/test/tpc-bench/tpcds-kit

.vscode/settings.json

# Nix
/result

.env
.spice
.data/
data/
./testoperator
!test/spicepods/
!test/nsql_bench/spicepod.yaml
!test/nsql_bench/data