# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
pkg/dashboard/build
cmd/spice/spice
cmd/spice/.spice
cmd/spice/data
cmd/spiced/spiced
cmd/spiced/.spice
cmd/spiced/data

# Debug binaries
__debug_bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.DS_Store

dist

# AI
__pycache__
venv
.venv

# Dashboard
*.fasthttp.br