[package]
name = "spiced"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
description = "Spice OSS"

[dependencies]
snafu.workspace = true
clap = { workspace = true, features = ["derive"] }
spicepod = { path = "../../crates/spicepod" }
app = { path = "../../crates/app" }
runtime = { path = "../../crates/runtime"}
flightrepl = { path = "../../crates/flightrepl" }
tokio.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
metrics-exporter-prometheus = "0.13.0"

[features]
default = ["duckdb", "postgres", "sqlite", "mysql", "flightsql", "databricks", "dremio", "clickhouse", "spark", "snowflake"]
duckdb = ["runtime/duckdb", "spicepod/duckdb", "app/duckdb"]
postgres = ["runtime/postgres", "spicepod/postgres", "app/postgres"]
sqlite = ["runtime/sqlite", "spicepod/sqlite", "app/sqlite"]
mysql = ["runtime/mysql", "spicepod/mysql", "app/mysql"]
clickhouse = ["runtime/clickhouse"]
release = []
dev = ["runtime/dev"]
keyring-secret-store = ["runtime/keyring-secret-store"]
flightsql = ["runtime/flightsql"]
aws-secrets-manager = ["runtime/aws-secrets-manager"]
databricks = ["runtime/databricks"]
dremio = ["runtime/dremio"]
odbc = ["runtime/odbc"]
spark = ["runtime/spark"]
snowflake = ["runtime/snowflake"]
models = ["runtime/models"] 
federation-experimental = ["runtime/federation-experimental"]
