[MASTER]
jobs=4

[MESSAGES CONTROL]
disable=missing-docstring,broad-except

[TYPECHECK]
generated-members=proto.*

[FORMAT]
max-line-length=120

[DESIGN]
# Maximum number of arguments for function / method
max-args=16

# Maximum number of attributes for a class (see R0902).
max-attributes=16

# Minimum number of public methods for a class (see R0903).
min-public-methods=0

# Maximum number of public methods for a class (see R0904).
max-public-methods=28

# Maximum number of locals for function / method body
max-locals=32

# Maximum number of statements in function / method body
max-statements=100