name: E2E Test CI

on:
  push:
    branches:
      - trunk
      - release-*

  pull_request:
    branches:
      - trunk

  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.name }} binaries
    runs-on: ${{ matrix.runner }}
    env:
      GOVER: 1.22
      GOOS: ${{ matrix.target_os }}
      GOARCH: ${{ matrix.target_arch_go }}

    strategy:
      matrix:
        include:
          # - name: Linux x64
          #   runner: rust
          #   target_os: linux
          #   target_arch: x86_64
          #   target_arch_go: amd64
          - name: macOS aarch64 (Apple Silicon)
            runner: macos-14
            target_os: darwin
            target_arch: aarch64
            target_arch_go: arm64
          # - name: macOS x64 (Intel)
          #   runner: rust-osx-x64
          #   target_os: darwin
          #   target_arch: x86_64
          #   target_arch_go: amd64
          # - name: Windows x64
          #   runner: rust-windows-x64
          #   target_os: windows
          #   target_arch: x86_64
          #   target_arch_go: amd64

    steps:
      - uses: actions/checkout@v3

      - name: Set REL_VERSION from version.txt
        run: python3 ./.github/scripts/get_release_version.py

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GOVER }}

      - name: Set up Rust
        uses: ./.github/actions/setup-rust
        with:
          os: ${{ matrix.target_os }}

      - name: Restore build cache (macOS)
        if: matrix.target_os == 'darwin'
        run: |
          mkdir -p target
          if [ -d /Users/spiceai/build/target ]; then
            rsync -av /Users/spiceai/build/target/ target/
          fi

      - name: Restore build cache (Linux)
        if: matrix.target_os == 'linux'
        run: |
          mkdir -p target
          if [ -d /home/spiceai/build/target ]; then
            rsync -av /home/spiceai/build/target/ target/
          fi

      - name: Restore build cache (Windows)
        if: matrix.target_os == 'windows'
        run: |
          mkdir -p target
          if (Test-Path C:/spiceai/build/target) {
            Copy-Item -Recurse -Force C:/spiceai/build/target/* target/
          }

      - name: Build spiced
        run: make -C bin/spiced

      - name: Update build cache (macOS)
        if: matrix.target_os == 'darwin'
        run: |
          if [ -d /Users/spiceai/build/target ]; then
            rsync -av target/ /Users/spiceai/build/target/
          fi

      - name: Update build cache (Linux)
        if: matrix.target_os == 'linux'
        run: |
          if [ -d /home/spiceai/build/target ]; then
            rsync -av target/ /home/spiceai/build/target/
          fi

      - name: Update build cache (Windows)
        if: matrix.target_os == 'windows'
        run: |
          if (Test-Path C:/spiceai/build/target) {
            Copy-Item -Recurse -Force target/* C:/spiceai/build/target
          }

      - name: Build spice
        run: make -C bin/spice

      - name: make spiced executable
        if: matrix.target_os != 'windows'
        run: |
          mv target/release/spiced spiced
          chmod +x spiced

      - name: make spice executable
        if: matrix.target_os != 'windows'
        run: |
          mv target/release/spice spice
          chmod +x spice

      - name: Print versions
        if: matrix.target_os != 'windows'
        run: |
          ./spice --version
          ./spiced --version

      - name: Save spice artifact
        uses: actions/upload-artifact@v4
        if: matrix.target_os != 'windows'
        with:
          name: spice
          path: spice

      - name: Save spiced artifact
        uses: actions/upload-artifact@v4
        if: matrix.target_os != 'windows'
        with:
          name: spiced
          path: spiced

      - name: Merge spice and spiced in single artifact
        uses: actions/upload-artifact/merge@v4
        with:
          name: build_${{ matrix.target_os }}_${{ matrix.target_arch }}

  test_qyuckstart_dremio:
    name: "E2E Test: Dremio quickstart, using ${{ matrix.target_os }}-${{ matrix.target_arch }}"
    runs-on: ${{ matrix.runner }}
    needs: build

    strategy:
      matrix:
        include:
          # - name: Linux x64
          #   runner: rust
          #   target_os: linux
          #   target_arch: x86_64
          #   target_arch_go: amd64
          - name: macOS aarch64 (Apple Silicon)
            runner: macos-14
            target_os: darwin
            target_arch: aarch64
            target_arch_go: arm64
          # - name: macOS x64 (Intel)
          #   runner: rust-osx-x64
          #   target_os: darwin
          #   target_arch: x86_64
          #   target_arch_go: amd64
          # - name: Windows x64
          #   runner: rust-windows-x64
          #   target_os: windows
          #   target_arch: x86_64
          #   target_arch_go: amd64
    steps:
      - name: download artifacts - build_${{ matrix.target_os }}_${{ matrix.target_arch }}
        uses: actions/download-artifact@v4
        with:
          name: build_${{ matrix.target_os }}_${{ matrix.target_arch }}
          path: ./build

      - name: Install spice (TEMP)
        run: |
          ls -la
          ls -la ./build
          # curl https://install.spiceai.org | /bin/bash
          # echo "$HOME/.spice/bin" >> $GITHUB_PATH
          echo "./build" >> $GITHUB_PATH
        shell: bash

      - name: Check spice version
        run: spice version

      - name: Init spice app
        run: |
          # TODO
          mkdir test_app && cd test_app
          spice init test_app

      - name: Connect Dremio
        working-directory: test_app
        run: |
          spice login dremio -u demo -p demo1234

      - name: Start spice runtime
        working-directory: test_app
        run: |
          spice run &

      - name: Wait for Spice runtime healthy
        working-directory: test_app
        timeout-minutes: 1
        run: |
          while [[ "$(curl -s http://localhost:3000/health)" != "ok" ]]; do sleep 1; done

      - name: Add spiceai/quickstart
        working-directory: test_app
        run: |
          spice add spiceai/quickstart
          cat spicepod.yaml

      - name: Check datasets
        working-directory: test_app
        run: |
          response=$(curl http://localhost:3000/v1/datasets)
          length=$(echo $response | jq 'if type=="array" then length else empty end')
          if [[ $length -ne 1 ]]; then
            echo "Unexpected response: $response, expected 1 dataset"
            exit 1
          fi

      - name: Check tables
        working-directory: test_app
        run: |
          response=$(curl -X POST \
            -H "Content-Type: text/plain" \
            -d "show tables;" \
            http://localhost:3000/v1/sql
          )
          tables=$(echo $response | jq 'if type=="array" then length else empty end')
          if [[ $length -ne 5 ]]; then
            echo "Unexpected response: $response, expected 5 tables"
            exit 1
          fi
