---
name: pr

on:
  pull_request:
    branches:
      - trunk
      - release-*
      - feature-*

  workflow_dispatch:

jobs:
  lint:
    name: Run Go & Rust Linters
    runs-on: rust
    env:
      GOVER: 1.22.0

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GOVER }}
          cache: false

      - name: Install golangci-lint
        run: |
          if ! command -v golangci-lint &> /dev/null ; then
            curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin
          fi

      - name: Set up Rust
        uses: ./.github/actions/setup-rust
        with:
          os: 'linux'
      
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: make lint

      - name: Check if Cargo.lock is updated
        run: |
          if git diff --exit-code Cargo.lock; then
            echo "Cargo.lock is up to date"
          else
            echo "Update Cargo.lock"
            exit 1
          fi

  build:
    name: Build Go & Rust
    runs-on: rust
    env:
      GOVER: 1.22.0

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GOVER }}
          cache: false

      - name: Set up Rust
        uses: ./.github/actions/setup-rust
        with:
          os: 'linux'

      - run: make OPT_LEVEL=ci-dev ci test

  build-docker:
    name: Build Docker Image
    runs-on: rust

    steps:
      - uses: actions/checkout@v4

      - name: Build and push Docker images
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64
          push: false
          build-args: |
            CARGO_FEATURES=odbc
          tags: |
            ghcr.io/spiceai/spiceai-rust:ci
