name: TPC-H Benchmark

on:
  # pull_request:
  #   branches:
  #     - trunk

  workflow_dispatch:

jobs:
  build:
    # if: false
    name: Build ${{ matrix.name }} binaries
    runs-on: ${{ matrix.runner }}
    env:
      GOVER: 1.22.0
      GOOS: ${{ matrix.target_os }}
      GOARCH: ${{ matrix.target_arch_go }}

    strategy:
      matrix:
        include:
          - name: Linux x64
            runner: rust
            target_os: linux
            target_arch: x86_64
            target_arch_go: amd64
          # - name: macOS aarch64 (Apple Silicon)
          #   runner: macos-14
          #   target_os: darwin
          #   target_arch: aarch64
          #   target_arch_go: arm64
          # - name: macOS x64 (Intel)
          #   runner: macos-12
          #   target_os: darwin
          #   target_arch: x86_64
          #   target_arch_go: amd64
          # - name: Windows x64
          #   runner: rust-windows-x64
          #   target_os: windows
          #   target_arch: x86_64
          #   target_arch_go: amd64

    steps:
      - uses: actions/checkout@v3

      - name: Set REL_VERSION from version.txt
        run: python3 ./.github/scripts/get_release_version.py

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GOVER }}

      - name: Set up Rust
        uses: ./.github/actions/setup-rust
        with:
          os: ${{ matrix.target_os }}

      - name: Restore build cache (macOS)
        if: matrix.target_os == 'darwin'
        run: |
          mkdir -p target
          if [ -d /Users/spiceai/build/target ]; then
            rsync -av /Users/spiceai/build/target/ target/
          fi

      - name: Restore build cache (Linux)
        if: matrix.target_os == 'linux'
        run: |
          mkdir -p target
          if [ -d /home/spiceai/build/target ]; then
            rsync -av /home/spiceai/build/target/ target/
          fi

      - name: Restore build cache (Windows)
        if: matrix.target_os == 'windows'
        run: |
          mkdir -p target
          if (Test-Path C:/spiceai/build/target) {
            Copy-Item -Recurse -Force C:/spiceai/build/target/* target/
          }

      - name: Build spiced
        run: make -C bin/spiced

      - name: Update build cache (macOS)
        if: matrix.target_os == 'darwin'
        run: |
          if [ -d /Users/spiceai/build/target ]; then
            rsync -av target/ /Users/spiceai/build/target/
          fi

      - name: Update build cache (Linux)
        if: matrix.target_os == 'linux'
        run: |
          if [ -d /home/spiceai/build/target ]; then
            rsync -av target/ /home/spiceai/build/target/
          fi

      - name: Update build cache (Windows)
        if: matrix.target_os == 'windows'
        run: |
          if (Test-Path C:/spiceai/build/target) {
            Copy-Item -Recurse -Force target/* C:/spiceai/build/target
          }

      - name: Build spice
        run: make -C bin/spice

      - name: make spiced executable
        if: matrix.target_os != 'windows'
        run: |
          mv target/release/spiced spiced
          chmod +x spiced

      - name: make spice executable
        if: matrix.target_os != 'windows'
        run: |
          mv target/release/spice spice
          chmod +x spice

      - name: Save spice artifact
        uses: actions/upload-artifact@v4
        if: matrix.target_os != 'windows'
        with:
          name: build_${{ matrix.target_os }}_${{ matrix.target_arch }}
          path: |
            spice
            spiced

  tpc_h_benchmark:
    name: 'Run TPC-H Benchmark on ${{ matrix.target_os }}-${{ matrix.target_arch }}'
    runs-on: ${{ matrix.runner }}
    needs: build

    strategy:
      fail-fast: false
      matrix:
        scale-factor: [0.1]
        include:
          - name: Linux x64
            runner: ubuntu-latest
            target_os: linux
            target_arch: x86_64
            target_arch_go: amd64
          # - name: macOS aarch64 (Apple Silicon)
          #   runner: macos-14
          #   target_os: darwin
          #   target_arch: aarch64
          #   target_arch_go: arm64
          # - name: macOS x64 (Intel)
          #   runner: macos-12
          #   target_os: darwin
          #   target_arch: x86_64
          #   target_arch_go: amd64
          # - name: Windows x64
          #   runner: rust-windows-x64
          #   target_os: windows
          #   target_arch: x86_64
          #   target_arch_go: amd64

    steps:
      - uses: actions/checkout@v3

      - name: download artifacts - build_${{ matrix.target_os }}_${{ matrix.target_arch }}
        uses: actions/download-artifact@v4
        with:
          name: build_${{ matrix.target_os }}_${{ matrix.target_arch }}
          path: ./build

      - name: Install spice
        uses: ./.github/actions/install-spice
        with:
          build-path: ./build

      - name: Install PostgreSQL
        uses: ./.github/actions/install-postgres
        with:
          os: ${{ matrix.target_os }}
          pg-db: tpch

      - name: Generate TPC-H Benchmark data
        working-directory: ./test/tpch
        run: |
          make tpch-init
          DBGEN_SCALE=${{ matrix.scale-factor }} make tpch-gen

      - name: Load TPC-H Benchmark data to PostgreSQL
        working-directory: ./test/tpch
        env:
          PGPASSWORD: postgres
          PGHOST: localhost
          PGUSER: postgres
        run: |
          make pg-init
          make pg-load

      # - name: Run TPC-H queries (PostgreSQL)
      #   working-directory: ./test/tpch
      #   env:
      #     PGPASSWORD: postgres
      #     PGHOST: localhost
      #     PGUSER: postgres
      #   run: |
      #     make tpch-run-pq

      - name: Start spice runtime
        env:
          SPICE_SECRET_POSTGRES_PASSWORD: postgres
        working-directory: ./test/tpch/tpch-spicepod
        run: |
          spice run &
            # time to initialize added datasets
          sleep 10

      - name: Wait for Spice runtime healthy
        timeout-minutes: 1
        run: |
          while [[ "$(curl -s http://localhost:3000/health)" != "ok" ]]; do sleep 1; done

      - name: Show loaded datasets
        run: |
          response=$(curl http://localhost:3000/v1/datasets)
          echo $response | jq

      - name: Run TPC-H queries (Spice)
        run: |
          python3 - <<EOF
          import subprocess
          import re

          def split_sql_queries(file_path):
              with open(file_path, 'r') as file:
                  # Comments will break queries when we run then as single line later
                  content_no_comments = re.sub(r'--.*?\n', '', file.read(), flags=re.MULTILINE)
                  queries = re.split(r";\\s*\\n", content_no_comments)
                  return [query.strip() for query in queries if query.strip()]

          def execute_query(query):
              print("Executing query:\n", query)   
              query_single_line = query.replace("\n", " ")

              result = subprocess.run("spice sql", input=query_single_line, shell=True, capture_output=True, text=True)

              if result.returncode == 0:
                  print("Query output:\n", result.stdout)
              else:
                  print("Error executing query:",result.stderr)
                  #exit(result.returncode)

          queries = split_sql_queries('test/tpch/tpch_queries.sql')
          #execute_query(queries[0] + ';')
          for query in queries:
              execute_query(query + ';')
          EOF
